<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaglantiCumlesi" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\;Integrated Security=True"/>
	</appSettings>
</configuration>
<!-- Server=DESKTOP-CLIERML\SQLEXPRESS;Database=Hospital;Trusted_Connection=True -->




